spring:
  application:
    name: msvc-cargo
  config:
    import: "optional:configserver:"
  cloud:
    config:
      enabled: false
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb
    username: sa
    password: ""
  h2:
    console:
      enabled: false
  sql:
    init:
      mode: never

eureka:
  client:
    enabled: false